 <style>
  body {
    background-color:lightwhite;
    /*background-image: url("pattern_038.gif");*/
  }
  .signface {
    margin: 100px 60px 60px 100px;
    font-size: 5em;
    text-transform: uppercase;
    /*background-image: url("pattern_038.gif");*/
    background-color: #EEEEEE;
    /*white-space: nowrap;*/
    overflow: auto;
    border: none;
    outline: none;
  }
  .container {
    background-color: PapayaWhip;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 100px;
    min-width: 400px;
    max-width: 1000px;
    height: 100%;
    overflow-y: auto;
  }
  .letter-and-count {
    /*border: 1px solid red;*/
    float: left;
    padding: 2px;
    margin: 2px;
    font-size: 2em;
    text-align: center;
  }
</style>
